
<ul class="nav nav-pills nav-stacked">
	<li class="nav-header hidden-sm hidden-xs">
    <i class="fa fa-home"></i> Menu Krisna		</li>
	<li 				>
        <a href="visimisi.php" target="_top">
            <i class="fa fa-bullseye"></i>
            <span>Visi & Misi</span>
			                </a>
		            </li>
    				<li 				>
        <a href="sasteg.php" target="_top">
            <i class="fa fa-crosshairs"></i>
            <span>Sasaran Strategis</span>
			                </a>
		            </li>
    				<li 				>
        <a href="renjakl.php" target="_top">
            <i class="fa fa-compass"></i>
            <span>Program & Kegiatan</span>
			                </a>
		            </li>
    				<li 				>
        <a href="renjakl_lampiran.php" target="_top">
            <i class="fa fa-file-text-o"></i>
            <span>Rekapitulasi</span>
			                </a>
		            </li>
    				<li 				>
        <a href="renjakl_treeview.php" target="_top">
            <i class="fa fa-tree"></i>
            <span>Treeview</span>
			                </a>
		            </li>
    				<li 				>
        <a href="timeline.php" target="_top">
            <i class="fa fa-calendar"></i>
            <span>Timeline</span>
			                </a>
		            </li>
    		    <li class="nav-header hidden-sm hidden-xs">
    <i class="fa fa-question"></i> Menu Bantuan		</li>
	<li 				>
        <a href="faq.php" target="_top">
            <i class="fa fa-question-circle"></i>
            <span>FAQ</span>
			                </a>
		            </li>
    				<li 				>
        <a href="tatakelola.php" target="_top">
            <i class="fa fa-exclamation-triangle"></i>
            <span>Tata Kelola</span>
			                </a>
		            </li>
    				<li 				>
        <a href="manual.php" target="_top">
            <i class="fa fa-book"></i>
            <span>Manual</span>
			                </a>
		            </li>
    				<li 				>
        <a href="milestone.php" target="_top">
            <i class="fa fa-code-fork"></i>
            <span>Milestone</span>
			                </a>
		            </li>

</ul>
		