<div class="row">
	<div class="col-lg-12">
		<div class="main-box">
			<ren-breadcrumb
					:is-active="true"
					:is-horizontal="true"
					path-url="{{ className }}/breadcrumb"
			></ren-breadcrumb>
		</div>
	</div>
</div>

<b-row>
    <b-col cols="4">
        <bs4tablerows></bs4tablerows>
    </b-col>
</b-row>
<b-row> &nbsp;</b-row>

<div class="row" v-if="is_diklat">
	<div class="col-md-12">
		<tablepack
			title="Survey"
			:is-active="true"
			get-url="instance_kuesioner_diklat"
			post-url="instance_kuesioner_diklat"
			instance="kuesioner_diklat"
			:columns="['id','nama', 'owner', 'date_start', 'date_end', 'status']"
			:custom-column-names="{nama: 'Judul', date_start: 'Dimulai Pada', date_end:'Berakhir Pada'}"
			:filter-key="searchQuerykuesioner_diklat"
			:item-per-page="itemPerPagekuesioner_diklat"
			:drillup="false"
			:interval="interval"
			:recursive="true"
			:readonly="is_readonly"
			:is-bulk-approval="false"
			:scroll-interval="scrollInterval">
		</tablepack>
	</div>
</div>

<div v-if="is_pertanyaan">
	<div class="row">
		<div class="col-md-12">
			<tablepack
				title="Pertanyaan"
				:is-active="true"
				get-url="instance_kuesioner_pertanyaan"
				post-url="instance_kuesioner_pertanyaan"
				instance="kuesioner_pertanyaan"
				:columns="['id', 'nomor', 'nama']"
				:custom-column-names="{nama: 'Pertanyaan'}"
				:filter-key="searchQuerykuesioner_pertanyaan"
				:item-per-page="itemPerPagekuesioner_pertanyaan"
				:drillup="false"
				:interval="interval"
				:readonly="is_readonly"
				:recursive="true"
				:is-bulk-approval="false"
				:scroll-interval="scrollInterval">
			</tablepack>
		</div>
	</div>
</div>

<div>
	<div v-if="is_opsi">
		<div class="row">
			<div class="col-md-12">
				<tablepack
					title="Jawaban"
					:is-active="true"
					get-url="instance_kuesioner_opsi"
					post-url="instance_kuesioner_opsi"
					instance="kuesioner_opsi"
					:columns="['id', 'nomor', 'nama', 'bobot']"
					:custom-column-names="{nama: 'Jawaban'}"
					:filter-key="searchQuerykuesioner_opsi"
					:item-per-page="itemPerPagekuesioner_opsi"
					:drillup="false"
					:interval="interval"
					:readonly="is_readonly"
					:is-bulk-approval="false"
					:scroll-interval="scrollInterval">
				</tablepack>
			</div>
		</div>
	</div>
</div>

<b-row v-if="is_diklat && !is_readonly">
	<b-col cols="8"></b-col>
	<b-col cols="2">
		<submit get-url="{{className}}" btn-label="Publish Kuesioner" confirm-text="" confirm-title="Publis Kuesioner"></submit>
	</b-col>
	<b-col cols="2">
		<reset get-url="{{className}}" instance="kuesioner_diklat" :paged="true" button-label="Tarik Data Kuesioner" count-cmd="countServiceData"></reset>
	</b-col>
</b-row>

<bs4-formfield v-if="is_readonly === false"
:action="action"
:field-url="fieldurl"
:default-level="defaultLevel"
:multiple-form="true"
{% if _SESSION[className ~ '_id'] %}
	:parent_id="{{ _SESSION[className ~ '_id'] }}"
{% endif %}>
</bs4-formfield>