<?xml version="1.0" encoding="UTF-8"?>
<mainmenu>
	<menu>
		<caption>Menu General</caption>
		<menu>
	        <icon>fa-folder</icon>
			<caption>Home</caption>
			<url>/</url>
		</menu>
		<menu>
	        <icon>fa-user</icon>
			<caption>phpVB</caption>
			<url>/phpvb</url>
		</menu>
		<menu>
	        <icon>fa-users</icon>
			<caption>Navigation</caption>
			<url>/nav</url>
		</menu>
		<menu>
	        <icon>fa-institution</icon>
			<caption>OPD</caption>
			<url>/opd</url>
		</menu>
	</menu>
	<menu>
		<caption>Menu FAQ</caption>
		<menu callback="submenu_browse">
	        <icon>fa-map-marker</icon>
			<caption>Peta</caption>
			<url>peta.php</url>
			<childmenu>
				<caption>Belum Ada Publikasi</caption>
				<url>peta.php</url>
			</childmenu>
		</menu>
		<menu>
	        <icon>fa-sitemap</icon>
			<caption>Dataset</caption>
			<url>rtrw.php</url>
		</menu>
		<menu>
	        <icon>fa-database</icon>
			<caption>Import</caption>
			<url>shp.php</url>
		</menu>
		<menu>
	        <icon>fa-upload</icon>
			<caption>Publikasi</caption>
			<url>publikasi.php</url>
		</menu>
	</menu>
</mainmenu>
