<?xml version="1.0" encoding="UTF-8"?>
<mainmenu>
    <menu>
        <caption>Instansi</caption>
        <url>/gov2instansi</url>
        <menu>
            <caption>Data Instansi</caption>
            <url>/gov2instansi/instansi</url>
        </menu>
        <menu>
        </menu>
    </menu>
</mainmenu>
