<body onload="loadPage()">
<div id="response_alert_{{ pageID }}">
{% if error %}
    <div class="main-box-body clearfix">
    <div class="alert alert-danger fade in" style="margin-bottom:0">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <i class="fa fa-times-circle fa-fw fa-lg"></i>
        <strong><?echo $doc->error;?></strong> <?echo $doc->txt($doc->error);?>
    </div>
    </div>
{% else %}
    <div class="main-box-body clearfix">
    <div class="alert alert-success fade in" style="margin-bottom:0">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <i class="fa fa-check-circle fa-fw fa-lg"></i>
        <strong>Berhasil</strong> Informasi telah berhasil diperbaharui.
    </div>
    </div>
{% endif %}
</div>

{% if _POST.cmd == "add" or _POST.cmd == "update" %}
    <table id="append_{{ pageID }}">
    <tr id="row_{{ pageID }}_{{ response._id }}" class="row_{{ pageID }}">
		{% set item=response %}
		{% include(pageID ~ 'Row.html') %}
    </tr>
    </table>
{% endif %}
<SCRIPT LANGUAGE="JavaScript">
<!--
function loadPage() {
  if (window == parent) return;
  else {
	var ref_source=document.getElementById('response_alert_{{ pageID }}').innerHTML;
    parent.document.getElementById('response_alert_{{ pageID }}').innerHTML=ref_source;
	{% if error %}
		{% if _POST.cmd=='add' or _POST.cmd=='update' %}
			parent.closeForm_{{ pageID }}();
		{% elseif cmdPost=='remove' %}
			parent.closeRemove_{{ pageID }}();
		{% endif %}
	{% else %}
    	{% if _POST.cmd=='add' %}
	      var newRow=document.getElementById('append_{{ pageID }}').innerHTML;
	      parent.document.getElementById('append_{{ pageID }}').innerHTML=parent.document.getElementById('append_{{ pageID }}').innerHTML+newRow;
	      parent.document.getElementById('row_{{ pageID }}_{{ response._id }}').style.backgroundColor = '#dff0d8';
		  parent.closeForm_{{ pageID }}();
		  parent.updateFootable();
		  parent.showAdded();
    	{% elseif _POST.cmd=='remove' %}
		  parent.closeRemove_{{ pageID }}();
		  parent.RemoveUpdate_{{ pageID }}('{{ response._id }}');
        {% elseif _POST.cmd=='update' %}
		  parent.closeForm_{{ pageID }}();
	      var updatedRow=document.getElementById('row_{{ pageID }}_{{ response._id }}').innerHTML;
	      parent.document.getElementById('row_{{ pageID }}_{{ response._id }}').innerHTML=updatedRow;
	      parent.document.getElementById('row_{{ pageID }}_{{ response._id }}').style.backgroundColor = '#dff0d8';
		  parent.updateFootable();
		  parent.showUpdated('{{ response._id }}');
    	{% endif %}
	{% endif %}
  }
}
//-->
</SCRIPT>
</body>