    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeRemove_{{ pageID }}"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Remove Data</h4>
        </div>
        <form action="{{ pageID }}" method="post" role="form" id="validation-form" target="iframer" data-parsley-validate>
        <input type="hidden" name="{{ pageID }}_id" value="" id="remove_{{ pageID }}_id" />
        <input type="hidden" name="ajax" value="1" />            
        <div class="modal-body">          
          This data will be removed from the list:<br/>          
          <div class="container-fluid">  
            <div class="caption col-xs-9" style="padding:15px 0">
              <h4 id="remove_item"></h4>
            </div>
          </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary" value="remove" name="cmd">Remove</button>
        </div>
        </form>
      </div>
    </div>