<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    {% endblock %}
</head>

<body class="theme-whbl no-background">
<div id="app">
    {% block notification %} {% endblock %}
    <div class="container">
        {% block content %} {% endblock %}
    </div>
</div>

<script>
    new Vue({
    {% block js %}
    el: '#app',
        components: {
        {% for component in components %}
        {% for item in component %}
        '{{ item.tag }}': httpVueLoader('{{ webroot }}/{{ item.pageID }}/vue/{{ item.component }}'),
        {% endfor %}
        {% endfor %}
    },
    {% endblock %}
    });
</script>

{% block externalJS %}

{% endblock %}

</body>

</html>

<style>
    body {
        font-size: 16px !important;
    }
    .menu-custom {
        margin-bottom: 60px !important;
    }
</style>