
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Error 404</title>
        <!-- Load required Bootstrap and BootstrapVue CSS -->
        <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
        <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="//cdn.materialdesignicons.com/2.0.46/css/materialdesignicons.min.css">
        
        <link rel="stylesheet" type="text/css" href="/css/theme_styles.css" />
    </head>
    <body id="error-page">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12">
                    <div id="error-box">
                        <div class="row">
                            <div class="col-12 col-sm-12">
                                <div id="error-box-inner">
                                    <img src="/img/error-404-v3.png" alt="Have you seen this page?"/>
                                </div>
                                <h1>ERROR 404</h1>
                                <p>
                                    Halaman 
                                        {{ pageID |upper }}
                                     tidak ditemukan.
                                </p>
                                <p>
                                    Kembali ke <a href="/">depan</a>.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
	
</html>


