<div class="container">
	<a href="/renstra" id="logo" class="navbar-brand">
		
		<img src="{{ webroot }}/img/logo-krisna2.png" alt="" class="normal-logo logo-white" style="margin:0;display:inline-block"/>
		<img src="{{ webroot }}/img/logo-krisna2.png" alt="" class="normal-logo logo-black" style="margin:0;"/>
		<img src="{{ webroot }}/img/logo-krisna2.png" alt="" class="small-logo hidden-xs hidden-sm hidden" style="margin:0;"/>
		<span class="philosopher">KRISNA</span>
	</a>
	
	<div class="clearfix">
		<button class="navbar-toggle" data-target=".navbar-ex1-collapse" data-toggle="collapse" type="button">
			<span class="sr-only">Toggle navigation</span>
			<span class="fa fa-bars"></span>
		</button>
		
		<div class="nav-no-collapse navbar-left pull-left hidden-sm hidden-xs">
			<ul class="nav navbar-nav pull-left">
				<li>
					<a class="btn" id="make-small-nav">
						<i class="fa fa-bars"></i>
					</a>
				</li>
				<li class="dropdown hidden-xs">
					<a class="btn dropdown-toggle" data-toggle="dropdown">
						RENJAKL 2020
						<i class="fa fa-caret-down"></i>
					</a>
					<ul class="dropdown-menu">
						<h6 class="dropdown-header">RENJAKL</h6>
						<li class="item">
							<a href="#">
								<i class="fa fa-archive"></i>
								2018
							</a>
						</li>
						<li class="item">
							<a href="#">
								<i class="fa fa-archive"></i>
								2019
							</a>
						</li>
						<li class="item">
							<a href="#">
								<i class="fa fa-archive"></i>
								2020
							</a>
						</li>
						<h6 class="dropdown-header">SR</h6>
						<li class="item">
							<a href="#">
								<i class="fa fa-archive"></i>
								2019
							</a>
						</li>
						<h6 class="dropdown-header">SELARAS</h6>
						<li class="item">
							<a href="#">
								<i class="fa fa-archive"></i>
								2020
							</a>
						</li>
						<h6 class="dropdown-header">DAK</h6>
						<li class="item">
							<a href="#">
								<i class="fa fa-archive"></i>
								2019
							</a>
						</li>
						<li class="item">
							<a href="#">
								<i class="fa fa-archive"></i>
								2020
							</a>
						</li>
					</ul>
				</li>
				<li class="dropdown hidden-xs">
					<a class="btn dropdown-toggle" data-toggle="dropdown">
						<i class="fa fa-bell"></i>
						<span class="count">8</span>
					</a>
					<ul class="dropdown-menu notifications-list">
						<li class="pointer">
							<div class="pointer-inner">
								<div class="arrow"></div>
							</div>
						</li>
						<li class="item-header">You have 6 new notifications</li>
						<li class="item">
							<a href="#">
								<i class="fa fa-comment"></i>
								<span class="content">New comment on ‘Awesome P...</span>
								<span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
							</a>
						</li>
						<li class="item">
							<a href="#">
								<i class="fa fa-plus"></i>
								<span class="content">New user registration</span>
								<span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
							</a>
						</li>
						<li class="item">
							<a href="#">
								<i class="fa fa-envelope"></i>
								<span class="content">New Message from George</span>
								<span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
							</a>
						</li>
						<li class="item">
							<a href="#">
								<i class="fa fa-shopping-cart"></i>
								<span class="content">New purchase</span>
								<span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
							</a>
						</li>
						<li class="item">
							<a href="#">
								<i class="fa fa-eye"></i>
								<span class="content">New order</span>
								<span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
							</a>
						</li>
						<li class="item-footer">
							<a href="#">
								View all notifications
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		
		<div class="nav-no-collapse pull-right" id="header-nav">
			<ul class="nav navbar-nav pull-right">
				<li class="dropdown profile-dropdown" id="profile-dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<img src="{{ webroot }}/images/user.png" alt=""/>
						<span class="hidden-xs">Admin</span> <b class="caret"></b>
					</a>

					<ul class="dropdown-menu dropdown-menu-right">
						<li><a href="user-profile.html"><i class="fa fa-user"></i>Profile</a></li>
						<li><a href="#"><i class="fa fa-cog"></i>Settings</a></li>
						<li><a href="#"><i class="fa fa-envelope-o"></i>Messages</a></li>
						<li><a href="#"><i class="fa fa-power-off"></i>Logout</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>