<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<title>{{ pageTitle }} - Gov2</title>

<!-- bootstrap -->
<link rel="stylesheet" type="text/css" href="{{ webroot }}/{{ pageID }}/css/bootstrap.min.css" />

<!-- libraries -->
<link rel="stylesheet" type="text/css" href="{{ webroot }}/{{ pageID }}/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="{{ webroot }}/{{ pageID }}/css/nanoscroller.css" />

<!-- global styles -->
<link rel="stylesheet" type="text/css" href="{{ webroot }}/{{ pageID }}/css/theme_styles.css" />
<link rel="stylesheet" type="text/css" href="{{ webroot }}/{{ pageID }}/css/theme_krisna.css" />
<link rel="stylesheet" type="text/css" href="{{ webroot }}/{{ pageID }}/css/nifty-component.css"/>

<!-- Favicon -->
<link type="image/x-icon" href="{{ webroot }}/favicon-krisna.png" rel="shortcut icon" />

  
<!-- google font libraries -->
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>

<!-- link rel="stylesheet" href="css/font-awesome.min.css" -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="//cdn.materialdesignicons.com/2.0.46/css/materialdesignicons.min.css">
<!-- <link rel="stylesheet" href="https://api.kl2.web.id/css/bulma.min.css">
 -->
<script src="{{ webroot }}/js/vue.js"></script>
<script src="{{ webroot }}/js/buefy.js"></script>
<script src="{{ webroot }}/js/httpVueLoader.js"></script>
<script src="{{ webroot }}/js/axios.min.js"></script>
<script src="{{ webroot }}/js/vue-scrollto.js"></script>
<script src="{{ webroot }}/js/gov2form.js"></script>
<script src="{{ webroot }}/js/iframeResizer.min.js"></script>
<script src="{{ webroot }}/js/handsontable.full.min.js"></script>
<script src="{{ webroot }}/js/burger.js"></script>

<script type="text/javascript">
	Vue.use(Buefy.default);
	const eventBus = new Vue();
</script>

