<?xml version="1.0" encoding="UTF-8"?>
<mainmenu>
    <menu>
        <caption>Wilayah</caption>
        <url>/gov2wilayah</url>
        <menu>
            <caption>Data Wilayah</caption>
            <url>/gov2wilayah/wilayah</url>
        </menu>
        <menu>
        </menu>
    </menu>
</mainmenu>
