<?xml version="1.0" encoding="UTF-8"?>
<mainmenu>
	<menu>
        <menu_id>1</menu_id>
		<caption>HOME</caption>
		<url>index.php</url>
	</menu>
	<menu>
        <menu_id>2</menu_id>
		<caption>Cara</caption>
        <type>dropdown</type>
		<menu>
            <menu_id>3</menu_id>
            <caption>Pesan</caption>
            <url>pesan.php</url>
        </menu>
		<menu>
            <menu_id>4</menu_id>
            <caption>Bayar</caption>
            <url>bayar.php</url>
        </menu>
	</menu>
	<menu>
        <menu_id>5</menu_id>
		<caption>Kategori</caption>
        <type>submenu</type>
        <menu>
            <menu_id>6</menu_id>
            <caption>Mainan</caption>
            <menu>
                <menu_id>7</menu_id>
                <caption>Robot</caption>
                <url>robot.php</url>
            </menu>
            <menu>
                <menu_id>8</menu_id>
                <caption>Mobil2an</caption>
                <url>mobil.php</url>
            </menu>
        </menu>
        <menu>
            <menu_id>9</menu_id>
            <caption>Gadget</caption>
            <menu>
                <menu_id>10</menu_id>
                <caption>iPhone</caption>
                <url>iphone.php</url>
            </menu>
            <menu>
                <menu_id>11</menu_id>
                <caption>Samsung</caption>
                <url>samsung.php</url>
            </menu>
        </menu>
	</menu>
	<menu>
        <menu_id>12</menu_id>
		<caption>Bestseller</caption>
		<url>bestseller.php</url>
	</menu>
	<menu>
        <menu_id>13</menu_id>
		<caption>ABOUT</caption>
        <type>dropdown</type>
		<url>about.php</url>
	</menu>
</mainmenu>
