<?xml version="1.0" encoding="UTF-8"?>
<gov2config>
    <webmaster>wibi@cybergl.co.id</webmaster>
    <backlog>http://mti08.vlsm.org/backlog.xml</backlog>
    <flickr>
        <auth>http://www.flickr.com/services/auth/?</auth>
        <rest>http://flickr.com/services/rest/?</rest>
    </flickr>
    <platform>
        <auth>http://ui.cybergl.co.id</auth>
        <arch>http://arsitektur.gov2.web.id</arch>
        <stan>http://standar.gov2.web.id</stan>
        <apik>http://gov2.mti08.vlsm.org</apik>
    </platform>
    <apikey>
        <public></public>
        <secret></secret>
    </apikey>
    <js>http://ecom.cybergl.co.id/js</js>
    <css>http://ecom.cybergl.co.id/css</css>
    <img>http://ecom.cybergl.co.id/images</img>
</gov2config>