{% extends "bootstrapLayout.html" %}

{% block head %}
	{{ parent() }}
	{% include('bootstrapHead.html') %}
{% endblock %}

{% block header %}
	{% include('bootstrapHeader.html') %}
{% endblock %}

{% block sideNav %}
	{% include('bootstrapSideNav.html') %}
{% endblock %}

{% block titleBar %}
	{% include('bootstrapTitleBar.html') %}
{% endblock %}
	
{% block content %}
    {% for item in contents %}
       {% include(item) %}
	{% endfor %}
{% endblock %}
	
{% block footer %}
	{% include('bootstrapFooter.html') %}
{% endblock %}

{% block js %}
	{{ parent() }}
	{% include('bootstrapJS.html') %}
{% endblock %}