{% extends "bulmaLayout.html" %}

{% block head %}
	{{ parent() }}
	{% include('bulmaHead.html') %}
{% endblock %}

{% block navbar %}
	{% include('bulmaNavBar.html') %}
{% endblock %}

{% block header %}
	{% include('bulmaHeader.html') %}
{% endblock %}

{% block menu %}
	{% include('bulmaMenu.html') %}
{% endblock %}

{% block titleBar %}
	{% include('bulmaTitleBar.html') %}
{% endblock %}

{% block breadcrumb %}
	{% include('bulmaBreadcrumb.html') %}
{% endblock %}

{% block content %}
    {% for item in contents %}
       {% include(item) %}
	{% endfor %}
{% endblock %}

{% block footer %}
	{% include('bulmaFooter.html') %}
{% endblock %}

{% block js %}
	{{ parent() }}
	{% include('bulmaJS.html') %}
{% endblock %}

