<table class="table filter_{{ pageID }} footable toggle-circle-filled" data-page-size="12" data-filter="#filter" data-filter-text-only="false">
  <thead>
    <tr>
      <th data-type="numeric">No.</th>
      <th data-type="numeric" data-hide="phone">Nama</th>
      <th data-type="numeric" data-hide="phone" data-sort-ignore="true">Singkatan</th>
      <th data-sort-ignore="true">Kode</th>
      <th data-sort-ignore="true" data-hide="phone">Tanggal Masuk</th>
	  {% if _SESSION.activeClient %}
      <th data-sort-ignore="true"></th>
      {% else %}
      <th data-sort-ignore="true"></th>
      {% endif %}
    </tr>
  </thead>
  <tbody id="append_{{ pageID }}">
	{% set no = 1 %}
	{% for item in data %}
    <tr id="row_{{ pageID }}_{{ item.opd_id }}" class="row_{{ pageID }}">
		{% include('opdRow.html') %}
    </tr>
    {% set no = no + 1 %}
	{% endfor %}
  </tbody>
</table>
<ul class="pagination pull-right hide-if-no-paging"></ul>

<script>
function return_get(key) {
    if ('parentIFrame' in window) window.parentIFrame.sendMessage('get_key,'+key);
    return false;
}
</script>