<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    {% endblock %}
</head>
<body>
    <div id="app" class="page-wrapper">
      <div class="main-container">

        <nav id="sidebar" class="sidebar-wrapper">
          <div class="app-brand p-3 my-2">
            <a href="https://{{ _SERVER['SERVER_NAME'] }}">
              <img src="{{ webroot }}/cube/images/logo-krisna2.png" class="logo" alt="phpVB" style="max-height: 40px;" />
            </a>
          </div>
          <div class="sidebarMenuScroll">
            {% block sidebar %} {% endblock %}
          </div>
        </nav>

        <div class="app-container">
          <div class="app-header d-flex align-items-center">
            {% block header %} {% endblock %}
          </div>

          {% block notification %} {% endblock %}

          <div class="px-3 mb-2">
            {% block pagetitle %} {% endblock %}
          </div>

          <div class="app-body">
            <div class="row gx-4">
              <div class="col-md-6">
                {% block contentLeft %} {% endblock %}
              </div>
              <div class="col-md-6">
                {% block contentRight %} {% endblock %}
              </div>
            </div>
            {% block content %} {% endblock %}
          </div>

          <div class="app-footer">
            {% block footer %} {% endblock %}
          </div>
        </div>

      </div>
    </div>

{# Fallback path per-portal sudah default di vue3-sfc-loader adaptor (dist/main.js). #}
{% block customVueLoader %}{% endblock %}

<script>
  phpvb.createPageApp({
    {% block js %}
        el: '#app',
        components: {
        {% for component in components %}
            {% for item in component %}
           '{{ item.tag }}': httpVueLoader('{{ webroot }}/{{ item.pageID }}/vue/{{ item.component }}'),
           {% endfor %}
        {% endfor %}
        },
    {% endblock %}
  });
</script>

{% block externalJS %}
{% endblock %}

<!-- Cube sidebar custom JS -->
<script src="{{ webroot }}/cube/js/custom.js"></script>

</body>
</html>
