<!-- Toggle buttons starts -->
<div class="d-flex">
  <button type="button" class="toggle-sidebar">
    <i class="bi bi-list lh-1"></i>
  </button>
  <button type="button" class="pin-sidebar">
    <i class="bi bi-list lh-1"></i>
  </button>
</div>
<!-- Toggle buttons ends -->

<!-- App brand sm starts -->
<div class="app-brand-sm d-lg-none d-flex">
  <a href="https://{{ _SERVER['SERVER_NAME'] }}">
    <img src="{{ webroot }}/cube/images/logo-krisna2.png" class="logo" alt="phpVB" style="max-height: 32px;">
  </a>
</div>
<!-- App brand sm ends -->

<!-- Page title starts -->
<h5 class="m-0 ms-2 fw-semibold">{{ pageTitle }}</h5>
<!-- Page title ends -->

<!-- App header actions starts -->
<div class="header-actions">

  <!-- Search container start -->
  <div class="search-container d-xl-block d-none me-3">
    <input type="text" class="form-control" id="searchData" placeholder="Search" />
    <i class="bi bi-search"></i>
  </div>
  <!-- Search container ends -->

  <!-- Header action bar starts -->
  <div class="header-actions-container rounded-4 d-flex align-items-center">

    <!-- User settings start -->
    <div class="dropdown">
    {% if _SESSION['account_id'] %}
      <a id="userSettings" class="dropdown-toggle user-settings" href="#!" role="button"
        data-bs-toggle="dropdown" aria-expanded="false">
        <span class="me-2 text-truncate d-lg-block d-none">
          {{ _SESSION['fullname'] }}
        </span>
        <div class="header-actions-avatar fw-bold bg-primary-subtle text-primary">
          {{ _SESSION['fullname']|first|upper }}
        </div>
      </a>
      <div class="dropdown-menu dropdown-menu-end shadow-lg">
        <a class="dropdown-item d-flex align-items-center" href="/gov2login">
          <i class="bi bi-person fs-5 me-2"></i>Profile
        </a>
        <a class="dropdown-item d-flex align-items-center" href="#" data-bs-toggle="offcanvas" data-bs-target="#optionsOffcanvas" aria-controls="optionsOffcanvas">
          <i class="bi bi-gear fs-5 me-2"></i>Settings
        </a>
        <div class="mx-3 my-2 d-grid">
          <a href="/{{ pageID }}/login.php?cmd=logout" class="btn btn-danger">Logout</a>
        </div>
      </div>
    {% else %}
      <a class="btn btn-sm btn-outline-primary me-2" href="/{{ pageID }}/signup">
        <i class="bi bi-person-plus me-1"></i>Signup
      </a>
      <a class="btn btn-sm btn-primary" href="/{{ pageID }}/login?type=gov2">
        <i class="bi bi-box-arrow-in-right me-1"></i>Login
      </a>
    {% endif %}
    </div>
    <!-- User settings end -->

  </div>
  <!-- Header action bar ends -->

</div>
<!-- App header actions ends -->
