<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<title>{{ pageTitle }}</title>

<link rel="stylesheet" type="text/css" href="{{webroot}}/css/bootstrap/hopscotch.css">
<link rel="stylesheet" type="text/css" href="{{ webroot }}/css/bootstrap/dropzone.css">
<link rel="stylesheet" type="text/css" href="{{ webroot }}/css/bootstrap/magnific-popup.css">
<!-- bootstrap -->
<link rel="stylesheet" type="text/css" href="{{ webroot }}/css/bootstrap/bootstrap.min.css" />

<!-- libraries -->
<link rel="stylesheet" type="text/css" href="{{ webroot }}/css/bootstrap/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="{{ webroot }}/css/bootstrap/nanoscroller.css" />

<!-- global styles -->
<link rel="stylesheet" type="text/css" href="{{ webroot }}/css/bootstrap/theme_styles.css" />

<!-- Favicon -->
<link type="image/x-icon" href="{{ webroot }}/favicon.png" rel="shortcut icon" />

<!-- this page specific styles -->
<link rel="stylesheet" type="text/css" href="{{ webroot }}/css/compiled/wizard.css">
<link rel="stylesheet" href="{{ webroot }}/css/libs/bootstrap-wizard.css" type="text/css" />
<link rel="stylesheet" type="text/css" href="{{ webroot }}/css/libs/gallery-component.css">
<!-- this page calendar specific styles -->
<link rel="stylesheet" href="{{ webroot }}/css/bootstrap/fullcalendar.css" type="text/css" />
<link rel="stylesheet" href="{{ webroot }}/css/bootstrap/fullcalendar.print.css" type="text/css" media="print" />
<link rel="stylesheet" href="{{ webroot }}/css/bootstrap/calendar.css" type="text/css" media="screen" />
<!-- end calendar -->
<link rel="stylesheet" href="{{ webroot }}/css/bootstrap/weather-icons.min.css" type="text/css" />

<link rel="stylesheet" href="{{ webroot }}/css/bootstrap/morris.css" type="text/css" />

<link rel="stylesheet" href="{{ webroot }}/css/bootstrap/select2.css" type="text/css" />
<link rel="stylesheet" href="{{ webroot }}/css/bootstrap/timeline.css"  type="text/css" />

<!-- google font libraries -->
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>

<title>{{ pageTitle }} - Gov2</title>
<!-- link rel="stylesheet" href="css/font-awesome.min.css" -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="//cdn.materialdesignicons.com/2.0.46/css/materialdesignicons.min.css">
<link rel="stylesheet" href="{{ webroot }}/css/bootstrap/jquery-jvectormap-1.2.2.css" type="text/css" />
<script src="{{ webroot }}/js/vue.js"></script>
<script src="{{ webroot }}/js/buefy.js"></script>
<script src="{{ webroot }}/js/httpVueLoader.js"></script>
<script src="{{ webroot }}/js/axios.min.js"></script>
<script src="{{ webroot }}/js/vue-scrollto.js"></script>
<script src="{{ webroot }}/js/gov2form.js"></script>
<script src="{{ webroot }}/js/iframeResizer.min.js"></script>
<script src="{{ webroot }}/js/handsontable.full.min.js"></script>
<script src="{{ webroot }}/js/burger.js"></script>

<script type="text/javascript">
	Vue.use(Buefy.default);
	const eventBus = new Vue();
</script>

<!-- this page specific styles -->
<link rel="stylesheet" type="text/css" href="{{webroot}}/css/bootstrap/dataTables.fixedHeader.css">
<link rel="stylesheet" type="text/css" href="{{webroot}}/css/bootstrap/dataTables.tableTools.css">


<link rel="stylesheet" type="text/css" href="{{ webroot }}/css/bootstrap/bootstrap-editable.css">

<!-- this footable specific styles -->
<link rel="stylesheet" href="{{ webroot }}/css/bootstrap/footable.core.css" type="text/css" />

<!-- this form-elements specific styles -->
<link rel="stylesheet" href="{{ webroot }}/css/bootstrap/datepicker.css" type="text/css" />
<link rel="stylesheet" href="{{ webroot }}/css/bootstrap/daterangepicker.css" type="text/css" />
<link rel="stylesheet" href="{{ webroot }}/css/bootstrap/bootstrap-timepicker.css" type="text/css" />
<!-- select2 already exist -->

<!-- this form-wsyiwyg-summernote specific styles -->
<link rel="stylesheet" type="text/css" href="{{ webroot }}/css/bootstrap/summernote.min.css" />

<!-- this form-dropzone specific styles -->
<link rel="stylesheet" type="text/css" href="{{ webroot }}/css/bootstrap/dropzone.css">

<!-- this ui-elements specific styles -->
<link rel="stylesheet" type="text/css" href="{{ webroot }}/css/bootstrap/jquery.nouislider.css">

<!-- this ui-notifications specific styles -->
<link rel="stylesheet" type="text/css" href="{{ webroot }}/css/bootstrap/ns-default.css"/>
<link rel="stylesheet" type="text/css" href="{{ webroot }}/css/bootstrap/ns-style-growl.css"/>
<link rel="stylesheet" type="text/css" href="{{ webroot }}/css/bootstrap/ns-style-bar.css"/>
<link rel="stylesheet" type="text/css" href="{{ webroot }}/css/bootstrap/ns-style-attached.css"/>
<link rel="stylesheet" type="text/css" href="{{ webroot }}/css/bootstrap/ns-style-other.css"/>
<link rel="stylesheet" type="text/css" href="{{ webroot }}/css/bootstrap/ns-style-theme.css"/>

<!-- this ui-modals specific styles -->
<link rel="stylesheet" type="text/css" href="{{ webroot }}/css/bootstrap/nifty-component.css"/>

<!-- this xChart specific styles -->
<link rel="stylesheet" href="{{ webroot }}/css/bootstrap/xcharts.css" type="text/css" />
<script src="{{ webroot }}/js/bootstrap/demo-rtl.js"></script>

<!-- this maps specific styles -->
<style type="text/css">
	/* Set a size for our map container, the Google Map will take up 100% of this container */
	.map-content {
		width: 100%;
		height: 300px;
	}
</style>

<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
<![endif]-->

<style>
	.show-grid {
		padding-left: 10px;
		padding-right: 10px;
	}
	.show-grid [class^="col-"] {
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: #eee;
		border: 1px solid #ddd;
		background-color: rgba(52, 152, 219, 0.15);
    	border: 1px solid rgba(52, 152, 219, 0.2);
		margin-bottom: 5px;
	}
</style>

