<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<title>{{ pageTitle }} - phpVB</title>

<!-- Favicon -->
{%
	if pageID == 'dpdraft2'
	or pageID == 'dpaktif2'
	or pageID == 'dpsnapshot2'
	or pageID == 'dppublik2'
	or pageID == 'dppindah2'
	or pageID == 'apisidalih'
	or pageID == 'apitahapan'
	or pageID == 'apitps'
	or pageID == 'apiwilayah'
	or pageID == 'apidparsip'
	or pageID == 'apidpsnapshot'
	or pageID == 'boardsidalih'
	or pageID == 'boardtahapan'
	or pageID == 'boardtps'
	or pageID == 'boardwilayah'
	or pageID == 'sidalih'
%}
	<link type="image/x-icon" href="{{ webroot }}/images/logo-sidalih.png" rel="shortcut icon" />
{% else %}
	<link type="image/x-icon" href="{{ webroot }}/images/logo-krisna.png" rel="shortcut icon" />
{% endif %}

<!-- Cube Theme CSS (includes Bootstrap) -->
<link rel="stylesheet" href="{{ webroot }}/cube/fonts/bootstrap-icons.min.css" />
<link rel="stylesheet" href="{{ webroot }}/cube/css/main.min.css" />

<!-- Overlay Scrollbar CSS -->
<link rel="stylesheet" href="{{ webroot }}/cube/js/overlay-scroll/OverlayScrollbars.min.css" />

<!-- BootstrapVue CSS (for Vue components compatibility) -->
<link type="text/css" rel="stylesheet" href="{{ webroot }}/css/bootstrap-vue.min.css" />

<!-- App-specific CSS -->
{# <link rel="stylesheet" type="text/css" href="{{ webroot }}/{{ pageID }}/css/custom.css"/> #}

<!-- Handsontable -->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.css">

<!-- Google Fonts -->
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Philosopher&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Berkshire+Swash&display=swap" rel="stylesheet">

<!-- Font Awesome (legacy support) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="//cdn.materialdesignicons.com/2.0.46/css/materialdesignicons.min.css">

<!-- Vue and friends -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js"></script>
<script src="{{ webroot }}/js/bootstrap-vue.min.js"></script>
<script src="{{ webroot }}/js/httpVueLoader.js"></script>
<script src="{{ webroot }}/js/axios.min.js"></script>
<script>
(function(){
    var baseURL = "{{ protocol }}://{{ _SERVER.SERVER_NAME }}";
    axios.defaults.baseURL = baseURL;
    axios.interceptors.request.use(function(config) {
        if (config.url && !config.url.match(/^https?:\/\//)) {
            if (config.url.charAt(0) !== '/') {
                config.url = '/' + config.url;
            }
        }
        return config;
    });
    var originalHttpRequest = httpVueLoader.httpRequest;
    httpVueLoader.httpRequest = function(url) {
        if (url.charAt(0) === '/') { url = baseURL + url; }
        return originalHttpRequest(url);
    };
})();
</script>
<script src="{{ webroot }}/js/vue-scrollto.js"></script>
<script src="{{ webroot }}/js/gov2form.js"></script>
<script src="{{ webroot }}/js/iframeResizer.min.js"></script>

<!-- Handsontable JS -->
<script src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"></script>

<!-- Chart JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/emn178/chartjs-plugin-labels/src/chartjs-plugin-labels.js"></script>

<!-- Lodash -->
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>

<!-- Sortable & Vue.Draggable -->
<script src="//cdn.jsdelivr.net/npm/sortablejs@1.8.4/Sortable.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.20.0/vuedraggable.umd.min.js"></script>

<!-- jQuery (for Cube sidebar) -->
<script src="{{ webroot }}/cube/js/jquery.min.js"></script>
<script src="{{ webroot }}/cube/js/bootstrap.bundle.min.js"></script>

<!-- Overlay Scrollbar JS -->
<script src="{{ webroot }}/cube/js/overlay-scroll/jquery.overlayScrollbars.min.js"></script>
<script src="{{ webroot }}/cube/js/overlay-scroll/custom-scrollbar.js"></script>

<script type="text/javascript">
	const eventBus = new Vue();
</script>
