<!DOCTYPE html>
<html>
    <head>
        {% block head %} {% endblock %}
    </head>
<body>
<div id="app">
    <section class="hero is-primary">
    {% block navbar %} {% endblock %}
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            phpVB
          </h1>
          <h2 class="subtitle">
            {% block header %} {% endblock %}
          </h2>
        </div>
      </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="columns">
              <div class="column is-narrow">
                <div style="width: 200px;">
                    {% block menu %} {% endblock %}
                </div>
              </div>
              <div class="column">
                    {% block titleBar %} {% endblock %}	
                    {% block breadcrumb %} {% endblock %}	
                    {% block content %} {% endblock %}
              </div>
            </div>
        </div>
    </section>

    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
            {% block footer %} {% endblock %}
        </div>
      </div>
    </footer>
</div>
{% block js %} {% endblock %}
</body>
</html>