
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>{{ title }} - Gov2 StarterKit</title>


    <!-- link rel="stylesheet" href="css/font-awesome.min.css" -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bulma.min.css">
  <script src="js/vue.js"></script>
<style>
    .color-red { color: red; }
    .color-blue { color: blue; }
</style>