<div>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="#">
          <img src="{{ webroot }}/images/logo-krisna.png" alt="Gov 2.0" width="28" height="28">
        </a>
          
        <div class="navbar-burger burger" data-target="navMenu">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="navbar-menu" id="navMenu">
          <div class="navbar-start">
            <div class="navbar-item">
            <a href="{{ webroot }}">
              Gov 2.0
            </a>
            </div>  
          </div>

          <div class="navbar-end">
            {% if _SESSION['account_id'] %}
                <a class="navbar-item" href="/gov2login">
                  {{ _SESSION['fullname'] }}
                </a>
                <a class="navbar-item" href="/gov2login.php?cmd=logout">
                  Logout
                </a>
            {% else %}
                <a class="navbar-item" href="/gov2login/signup">
                  Signup
                </a>
                <a class="navbar-item" href="login">
                  Login
                </a>
            {% endif %}
          </div>
      </div>
    </nav>
</div>