<!DOCTYPE html>
<html>
    <head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="Wibisono Sastrodiwiryo">
     {% endblock %}
    </head>
<body>
<div id="app">
    <section class="hero is-primary">
    {% block topbar %} {% endblock %}
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            phpVB
          </h1>
          <h2 class="subtitle">
            {% block header %} {% endblock %}
          </h2>
        </div>
      </div>
    </section>

    <section class="section">
        {% block pagetitle %} {% endblock %}
        {% block content %} {% endblock %}
    </section>

    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
            {% block footer %} {% endblock %}
        </div>
      </div>
    </footer>
</div>
<script type="text/javascript">
  new Vue({
{% block js %}
    el: '#app',
    components: {
    {% for component in components %}
        {% for item in component %}
       '{{ item.tag }}': httpVueLoader('{{ webroot }}/{{ item.pageID }}/vue/{{ item.component }}'),
	   {% endfor %}
    {% endfor %}
    },
{% endblock %}
methods: {
        loadGrid: function (data) {
            hot.loadData(data);
        },
        getGrid: function (data) {
            eventBus.$emit("saveGrid",hot.getData());
        }
    },
    created: function () {
        eventBus.$on("loadGrid",this.loadGrid);
        eventBus.$on("getGrid",this.getGrid);
    }
  });
</script>
{% block externalJS %}
    
{% endblock %}
</body>
</html>