<title>{{ pageTitle }} - Gov2</title>
<!-- link rel="stylesheet" href="css/font-awesome.min.css" -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="//cdn.materialdesignicons.com/2.0.46/css/materialdesignicons.min.css">
<link rel="stylesheet" href="{{ webroot }}/css/buefy.min.css">
<link rel="stylesheet" href="{{ webroot }}/css/bulma.min.css">

<script src="{{ webroot }}/js/vue.js"></script>
<script src="{{ webroot }}/js/buefy.js"></script>
<script src="{{ webroot }}/js/httpVueLoader.js"></script>
<script src="{{ webroot }}/js/axios.min.js"></script>
<script src="{{ webroot }}/js/vue-scrollto.js"></script>
<script src="{{ webroot }}/js/gov2form.js"></script>
<script type="text/javascript">
Vue.use(Buefy.default);
const eventBus = new Vue();
</script>