<!DOCTYPE html>
<html>
    <head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="Wibisono Sastrodiwiryo">
     {% endblock %}
    </head>
<body>
	<div id="app">
    <section class="hero is-primary">
    {% block topbar %} {% endblock %}
    </section>
        
    <section class="section">
        <div class="container">
            <div class="columns">
              <div class="column is-narrow">
                <div style="width: 200px;">
                    {% block sidebar %} {% endblock %}
                </div>
              </div>
              <div class="column">
                    {% block pagetitle %} {% endblock %}
                    {% block content %} {% endblock %}
              </div>
            </div>
        </div>
    </section>

    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
            {% block footer %} {% endblock %}
        </div>
      </div>
    </footer>
</div>
<script type="text/javascript">
  new Vue({
{% block js %}
    el: '#app',
    components: {
    {% for component in components %}
        {% for item in component %}
       '{{ item.tag }}': httpVueLoader('{{ webroot }}/{{ item.pageID }}/vue/{{ item.component }}'),
	   {% endfor %}
    {% endfor %}
    },
{% endblock %}
  });
</script>
</body>
</html>