{% extends "@gov2login/layout.html" %}

{% block head %}
	{{ parent() }}
	{% include('cubeHead.html') %}
{% endblock %}

{% block pagetitle %}
	{% include('cubePageTitle.html') %}
{% endblock %}

{% block content %}
    {% for item in contents %}
        <span>&nbsp;</span>
       {% include[item,'cubeMissingFile.html'] %}
	{% endfor %}
{% endblock %}

{% block js %}
	{{ parent() }}
	{% include('vueJS.html') %}
{% endblock %}

{% block externalJS %}
	{% include('externalJS.html') %}
{% endblock %}
