<div class="card">
  <div class="card-header">
    <h6 class="card-title mb-0">
      Member
    </h6>
  </div>
  <!-- <div class="card-body">
    <div>
        <breadcrumbd path-url="member/breadcrumb" instance="member"></breadcrumbd>
    </div>
  </div> -->
    <div>
        <gov2table
            :is-active="true"
            get-url="privilege"
            :columns="['id', 'fullname','email','role']"
            :recursive="false"
            :readonly="true"
            instance="member"
            :item-per-page=100
            :kab-id="kabid">
        </gov2table>
    </div>
  
</div>
