<gov2formfield-bs4
        :action="action"
        {% if _SESSION[className ~ '_id'] %}
:parent_id="{{ _SESSION[className ~ '_id'] }}"
{% endif %}
:field-url="fieldurl">
</gov2formfield-bs4>

<gov2breadcrumb
        :path-url="breadcrumburl"
        :is-active="true"
        :is-horizontal="true">
</gov2breadcrumb>

<div class="row">
  <div class="col-lg-12">
    <tablepack
            :is-active="true"
            :get-url="action"
            :post-url="action"
            :columns="['id','kode','nama','portal','tahun','level_label']"
            :recursive="true"
            :filter-key="searchQuery"
            :item-per-page="itemPerPage"
            :interval="interval"
            :scroll-interval="scrollInterval"
            :readonly="false"
            :drillup="true"
            level-end="eselon2">
    </tablepack>
  </div>
</div>
