<div id="navigation-section">
			<div class="navbar navbar-default navbar-static-top" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="index.php">{{ logo }}</a>
					</div>
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="#home-section">Home</a></li>
							<li><a href="#why-section">Why</a></li>
							<li><a href="#how-section">How</a></li>
							<!-- li class="dropdown">
								<a href="#" data-toggle="dropdown" class="dropdown-toggle js-activated">Where <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="architecture.php">Architecture</a></li>
									<li><a href="community.php">Community</a></li>
									<li><a href="standard.php">Standard</a></li>
								</ul>
							</li -->
							<li class="dropdown">
								<a href="#" data-toggle="dropdown" class="dropdown-toggle js-activated">What <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="framework">Framework</a></li>
									<li><a href="platform">Platform</a></li>
									<li><a href="website">Website</a></li>
								</ul>
							</li>
							<li><a href="#who-section">Who</a></li>
							<li><a href="#contact-section">Contact</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
