#ja-cssmenu {
	left; padding: 0px;  float: left; margin-top: -7px; margin-right:20px;
}
#ja-cssmenu ul {
    margin: 0px; padding: 0px
}
#ja-cssmenu li {
	border-right: grey 1px solid; padding-right: 0px; display: block; padding-left: 0px; background: none transparent scroll repeat 0% 0%; float: left; padding-bottom: 0px; margin: 0px; cursor: pointer; padding-top: 0px;
}
#ja-cssmenu li ul {
	z-index: 99; left: -999em; width: 15.9em; position: absolute; height: auto
}
#ja-cssmenu li ul ul {
	margin: -2em 0px 0px 15em
}
#ja-cssmenu li li {
	padding-right: 1em; padding-left: 0px; padding-bottom: 0px; margin: 0px; width: 14.9em; padding-top: 0px
}
#ja-cssmenu ul a {
	width: 10.8em
}
#ja-cssmenu li:hover ul ul {
	left: -999em
}
#ja-cssmenu li:hover ul ul ul {
	left: -999em
}
#ja-cssmenu li.sfhover ul ul {
	left: -999em
}
#ja-cssmenu li.havechildsfhover ul ul {
	left: -999em
}
#ja-cssmenu li.havechild-activesfhover ul ul {
	left: -999em
}
#ja-cssmenu li.activesfhover ul ul {
	left: -999em
}
#ja-cssmenu li.sfhover ul ul ul {
	left: -999em
}
#ja-cssmenu li.havechildsfhover ul ul ul {
	left: -999em
}
#ja-cssmenu li.havechild-activesfhover ul ul ul {
	left: -999em
}
#ja-cssmenu li.activesfhover ul ul ul {
	left: -999em
}
#ja-cssmenu li:hover ul {
	left: auto
}
#ja-cssmenu li li:hover ul {
	left: auto
}
#ja-cssmenu li li li:hover ul {
	left: auto
}
#ja-cssmenu li.sfhover ul {
	left: auto
}
#ja-cssmenu li.havechildsfhover ul {
	left: auto
}
#ja-cssmenu li.havechild-activesfhover ul {
	left: auto
}
#ja-cssmenu li.activesfhover ul {
	left: auto
}
#ja-cssmenu li li.sfhover ul {
	left: auto
}
#ja-cssmenu li li.havesubchildsfhover ul {
	left: auto
}
#ja-cssmenu li li.havesubchild-activesfhover ul {
	left: auto
}
#ja-cssmenu li li.activesfhover ul {
	left: auto
}
#ja-cssmenu li li li.sfhover ul {
	left: auto
}
#ja-cssmenu li li li.havesubchildsfhover ul {
	left: auto
}
#ja-cssmenu li li li.havesubchild-activesfhover ul {
	left: auto
}
#ja-cssmenu li li li.activesfhover ul {
	left: auto
}
#ja-cssmenu li a {
	border-right: #829EBB 0px solid; padding-right: 14px; display: block; padding-left: 14px; font-weight: bold; font-size: 15px; padding-bottom: 0px; color: black; line-height: 15px; padding-top: 0px; text-decoration: none; 
}
#ja-cssmenu li a:hover {
	color: black
}
#ja-cssmenu li a:active {
	color: black
}
#ja-cssmenu li a:unknown {
	color: black
}
#ja-cssmenu li:hover {
	background: #f5d00e repeat-x 50% top; color: grey
}
#ja-cssmenu li.sfhover {
	background: #dd9637 repeat-x 50% top; color: grey
}
#ja-cssmenu li.havechildsfhover {
	background: #dd9637 repeat-x 50% top; color: grey
}
#ja-cssmenu li.havechild-activesfhover {
	background: #dd9637 repeat-x 50% top; color: black
}
#ja-cssmenu li a.active {
	background:  #91ae4e repeat-x 50% top; color: black
}
#ja-cssmenu li a.active:hover {
	background:  #91ae4e repeat-x 50% top; color: black
}
#ja-cssmenu li a.active:active {
	background:  #91ae4e repeat-x 50% top; color: black
}
#ja-cssmenu li a.active:unknown {
	background:  #91ae4e repeat-x 50% top; color: black
}
#ja-cssmenu li ul {
	border: #f5d00e 1.5px solid; background: #f6f3d7; opacity: 0.90;
}
#ja-cssmenu li ul li {
	background: none transparent scroll repeat 0% 0%; border-bottom: #2972a8 0px solid; border-right-style: none
}
#ja-cssmenu li ul a {
	padding-right: 10px; padding-left: 10px; font-weight: normal; font-size: 100%; background: none transparent scroll repeat 0% 0%; padding-bottom: 6px; margin: 0px; color: #2f1502; line-height: 12px; padding-top: 6px; border-right-style: none
}
#ja-cssmenu li.havesubchild {
	background: url(../images/pointer.gif) no-repeat 94% 50%
}
#ja-cssmenu li.havesubchild-active {
	background: url(../images/pointer.gif) no-repeat 94% 50%
}
#ja-cssmenu li ul a:hover {
	background:  #033164 repeat-x 50% top; color: #ffffff
}
#ja-cssmenu li ul a:active {
	background:  #033164 repeat-x 50% top; color: black
}
#ja-cssmenu li ul a:unknown {
	background:  #033164 repeat-x 50% top; color: black
}
#ja-cssmenu ul li:hover {
	background:  #033164 repeat-x 50% top; color: black
}
#ja-cssmenu ul li.sfhover {
	background:  #dd9637 repeat-x 50% top; color: black
}
#ja-cssmenu ul li.havesubchildsfhover {
	background:  #dd9637 repeat-x 50% top; color: black
}
#ja-cssmenu ul li.havesubchild-activesfhover {
	background:  #dd9637 repeat-x 50% top; color: black
}
#ja-cssmenu ul ul li:hover {
	background:  #dd9637 repeat-x 50% top; color: #033164
}
#ja-cssmenu ul ul li.sfhover {
	background:  #dd9637 repeat-x 50% top; color: #033164
}
#ja-cssmenu ul ul li.havesubchildsfhover {
	background:  #dd9637 repeat-x 50% top; color: #033164
}
#ja-cssmenu ul ul li.havesubchild-activesfhover {
	background:  #dd9637 repeat-x 50% top; color: #033164
}
#ja-cssmenu ul li a.active {
	font-weight: bold; background: none transparent scroll repeat 0% 0%; color: #ffffff
}
#ja-cssmenu ul li a.active:hover {
	font-weight: bold; background: none transparent scroll repeat 0% 0%; color: #ffffff
}
#ja-cssmenu ul li a.active:active {
	font-weight: bold; background: none transparent scroll repeat 0% 0%; color: #ffffff
}
#ja-cssmenu ul li a.active:unknown {
	font-weight: bold; background: none transparent scroll repeat 0% 0%; color: #ffffff
}
