<ul class="sidebar-menu">
  {% for mainmenu in menus %}
    {% for menu in mainmenu.menu %}
      {% if menu.menu is iterable and menu.menu|length > 0 %}
      <li class="treeview">
        <a href="#!">
          <i class="bi bi-folder"></i>
          <span class="menu-text">{{ menu.caption }}</span>
        </a>
        <ul class="treeview-menu">
          {% for item in menu.menu %}
          <li{% if item.url == '/' ~ pageID ~ '/' ~ className %} class="active"{% endif %}>
            <a href="{{ webroot }}{{ item.url }}">{{ item.caption }}</a>
          </li>
          {% endfor %}
        </ul>
      </li>
      {% else %}
      <li{% if menu.url is defined and menu.url == '/' ~ pageID ~ '/' ~ className %} class="active"{% endif %}>
        <a href="{{ webroot }}{{ menu.url|default('#') }}">
          <i class="bi bi-circle"></i>
          <span class="menu-text">{{ menu.caption }}</span>
        </a>
      </li>
      {% endif %}
    {% endfor %}
  {% endfor %}
</ul>