<ul class="sidebar-menu">
  {% for mainmenu in menus %}
    {% for menu in mainmenu.menu %}
      {% if menu.menu is iterable and menu.menu|length > 0 %}
      {% set has_active_child = false %}
      {% for item in menu.menu %}
        {% if item.url == '/' ~ pageID ~ '/' ~ className or (className == 'index' and item.url == '/' ~ pageID) %}
          {% set has_active_child = true %}
        {% endif %}
        {% if item.menu is iterable %}
          {% for sub in item.menu %}
            {% if sub.url == '/' ~ pageID ~ '/' ~ className ~ '/' ~ cmdID %}
              {% set has_active_child = true %}
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}
      <li class="treeview{% if has_active_child %} active{% endif %}">
        <a href="#!">
          <i class="bi bi-folder"></i>
          <span class="menu-text">{{ menu.caption }}</span>
        </a>
        <ul class="treeview-menu">
          {% for item in menu.menu %}
          {% set item_active = item.url == '/' ~ pageID ~ '/' ~ className or (className == 'index' and item.url == '/' ~ pageID) %}
          <li{% if item_active %} class="current-page"{% endif %}>
            <a href="{{ webroot }}{{ item.url }}"{% if item_active %} class="active-sub"{% endif %}>{{ item.caption }}</a>
            {% if item.menu is iterable and item.menu|length > 0 %}
            <ul class="treeview-menu" style="display:block;">
              {% for sub in item.menu %}
              {% set sub_active = sub.url == '/' ~ pageID ~ '/' ~ className ~ '/' ~ cmdID %}
              <li{% if sub_active %} class="current-page"{% endif %}>
                <a href="{{ webroot }}{{ sub.url }}"{% if sub_active %} class="active-sub"{% endif %}>{{ sub.caption }}</a>
              </li>
              {% endfor %}
            </ul>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </li>
      {% else %}
      <li{% if menu.url is defined and (menu.url == '/' ~ pageID ~ '/' ~ className or (className == 'index' and menu.url == '/' ~ pageID)) %} class="active current-page"{% endif %}>
        <a href="{{ webroot }}{{ menu.url|default('#') }}">
          <i class="bi bi-circle"></i>
          <span class="menu-text">{{ menu.caption }}</span>
        </a>
      </li>
      {% endif %}
    {% endfor %}
  {% endfor %}
</ul>
