<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<title>{{ pageTitle }} - Gov2</title>

<!-- Load required Bootstrap and BootstrapVue CSS -->

<!--<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />-->
<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap@4.6.0/dist/css/bootstrap.min.css" />
<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
<!-- <link rel="stylesheet" type="text/css" href="{{ webroot }}/css/bootstrap.min.css" /> -->
<!-- <link rel="stylesheet" type="text/css" href="{{ webroot }}/css/bootstrap-vue.min.css" /> -->

<!-- do not use this cause create error in notification -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha256-L/W5Wfqfa0sdBNIKN9cG6QA5F2qx4qICmU2VgLruv9Y=" crossorigin="anonymous" /> -->
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-vue@2.0.0-rc.11/dist/bootstrap-vue.min.css"> -->

<!-- libraries -->
<!--<link rel="stylesheet" type="text/css" href="{{ webroot }}/{{ pageID }}/css/nanoscroller-min.css" />-->
<!--<link rel="stylesheet" type="text/css" href="{{ webroot }}/{{ pageID }}/css/nifty-component.css"/>-->
<link rel="stylesheet" type="text/css" href="{{ webroot }}/{{ pageID }}/css/custom.css"/>
<!--<link rel="stylesheet" type="text/css" href="{{ webroot }}/{{ pageID }}/css/wizard.css"/>-->
<!--<link rel="stylesheet" type="text/css" href="{{ webroot }}/{{ pageID }}/css/timeline.css"/>-->
<!-- <link rel="stylesheet" type="text/css" href="{{ webroot }}/css/handsontable.full.css"/> -->
<!--<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.css">-->

<!-- <link rel="stylesheet" type="text/css" href="{{ webroot }}/css/bootstrap.min.css"/> -->
<!-- <link rel="stylesheet" type="text/css" href="{{ webroot }}/css/bootstrap-vue.min.css"/> -->

<!-- global styles -->
<link rel="stylesheet" type="text/css" href="{{ webroot }}/{{ pageID }}/css/theme_styles.css" />

<!-- Favicon -->
<link type="image/x-icon" href="{{ webroot }}/images/logo-bkn.png" rel="shortcut icon" />


<!-- google font libraries -->
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Philosopher&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Berkshire+Swash&display=swap" rel="stylesheet">

<!-- font awesome -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--<link rel="stylesheet" href="//cdn.materialdesignicons.com/2.0.46/css/materialdesignicons.min.css">-->

<!-- vue and friends -->
<!--<script src="{{ webroot }}/js/vue.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>-->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<!--<script src="{{ webroot }}/js/bootstrap-vue.min.js"></script>-->
<script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
<script src="{{ webroot }}/js/httpVueLoader.js"></script>
<script src="{{ webroot }}/js/axios.min.js"></script>
<!--<script src="{{ webroot }}/js/vue-scrollto.js"></script>-->

<script src="{{ webroot }}/js/gov2form.js"></script>
<script src="{{ webroot }}/js/iframeResizer.min.js"></script>
<!-- <script src="{{ webroot }}/js/handsontable.full.min.js"></script> -->
<!--<script src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"></script>-->

<!-- canvas JS -->
<!-- <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script> -->

<!-- chart JS -->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/gh/emn178/chartjs-plugin-labels/src/chartjs-plugin-labels.js"></script>-->

<!-- lodash -->
<!--<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>-->

<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/vue/2.5.2/vue.min.js"></script> -->
<!-- CDNJS :: Sortable (https://cdnjs.com/) -->
<!--<script src="//cdn.jsdelivr.net/npm/sortablejs@1.8.4/Sortable.min.js"></script>-->
<!-- CDNJS :: Vue.Draggable (https://cdnjs.com/) -->
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.20.0/vuedraggable.umd.min.js"></script>-->
<!-- <script src="https://cdn.jsdelivr.net/npm/vue-draggable-nested-tree@3.0.0-beta2/dist/vue-draggable-nested-tree.cjs.min.js"></script> -->

<script type="text/javascript">
	const eventBus = new Vue();
	Vue.config.devtools = true;
	Vue.prototype.$window = window;
</script>