.notification {
  border-radius: 3px;
  padding: 1.25rem 2.5rem 1.25rem 1.5rem;
  position: relative;
  margin: auto;
}

.notification.is-danger {
  background-color: #ff3860;
  color: #fff;
}

.notification.is-danger ul {
  margin: auto;
}

.saas-frame {
  overflow: hidden;
  padding-top: 100%;
  position: relative;
}

.saas-frame iframe {
  border: 0;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
}

.none {
  display: none;
}

.col-md-12 .main-box-body {
  overflow:auto;
}

.philosopher {
  font-family: 'Philosopher', sans-serif;
}

#nav-col {
  overflow-y: auto !important;
}

.block-header .block-title {
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0px;
}

.bg-black {
  height: 280px;
  width: 100%;
  background-size: 80px auto !important;
  background-position: 0 50%;
  background-image: url('https://klhk.kl.krisna.men/public/images/bg-renjakl.png') !important;
  background-color: #3e4a59 !important;
  /*z-index: 1;*/
  opacity: 1;
  display : flex;
  align-items : center;
  overflow: hidden;
}
.bg-black p {
  padding-left: 40px;
}
.bg-black .row {
  color: white;
}
.bg-black .row span.judul {
  font-size: 36px;
}
.bg-black .row span.desc {
  font-size: 22px;
}
.berk {
  font-family: 'Berkshire Swash', cursive;
}
.krisna2020 {
  font-size: 50px;
}
.content {
  position: relative;
  z-index: 2;
}
@media(max-width:768px) {
  .mandala1 {
    display: none;  
  }
  .mandala2 {
    display: none;  
  }
  .selamat .judul span {
    font-size: 30px !important;
  }
  .selamat .desc {
    font-size: 20px !important;
  }
  .selamat {
    padding-left: 0 !important;
  }
}
.mandala1 {
  background: url('https://klhk.kl.krisna.men/public/images/mandala/renjakl-big2.png') !important;
  background-repeat: no-repeat !important;
  background-position: 100% 50% !important;
  background-size: 600px 600px !important;
  position: absolute;
  right: -40px;
  width: 600px;
  height: 600px;
  opacity: 0.4;
  animation: rotation 50s infinite linear;
}
.mandala2 {
  background: url('https://app.dit.krisna.men/public/images/mandala/renjakl-big1.png') !important;
  background-repeat: no-repeat !important;
  background-size: 175px 175px !important;
  position: absolute;
  right: 172px;
  width: 175px !important;
  height: 175px !important;
  opacity: 0.4;
  animation: rotationLeft 50s infinite linear;
}
.selamat {
  padding-left: 240px;
  position: relative;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes rotationLeft {
  from {
    transform: rotate(359deg);
  }
  to {
    transform: rotate(0deg);
  }
}
